@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="background"></div>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="darkmode">
        <button class="theme-button" @onclick="ToggleTheme">
            @(isDarkMode ? "☀️" : "🌙")
        </button>
    </div>

    <main>
        <article class="main-content">
            @Body
        </article>
    </main>

</div>

@code {
    private bool isDarkMode;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var theme = await JS.InvokeAsync<string>("localStorage.getItem", "theme");

        isDarkMode = theme == "dark";

        await ApplyTheme();

        StateHasChanged();
    }

    private async Task ToggleTheme()
    {
        isDarkMode = !isDarkMode;

        await JS.InvokeVoidAsync(
            "localStorage.setItem",
            "theme",
            isDarkMode ? "dark" : "light"
        );

        await ApplyTheme();

        StateHasChanged();
    }

    private async Task ApplyTheme()
    {
        await JS.InvokeVoidAsync(
            "document.body.setAttribute",
            "data-theme",
            isDarkMode ? "dark" : "light"
        );
    }
}