@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<section class="home-hero">
    <h1>Energyze</h1>
    <p>
        Track your favourite energy drinks, discover new flavors, rate what you try, and keep your tasting journey in one place.
    </p>

    <button type="button" class="explore-button" @onclick="NavigateToProfile">Get Started</button>
</section>


@code {
    private void NavigateToProfile()
    {
        NavigationManager.NavigateTo("/account");
    }
}
